<%= form_with(model: pot) do |form| %>
  <% if pot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pot.errors.count, "error") %> prohibited this pot from being saved:</h2>

      <ul>
        <% pot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <div>
    <%= form.label :lesson, style: "display: block" %>
    <%= form.text_field :lesson, autofocus: true, autocomplete: "lesson", class:'form-control' %>

  </div>

  <div>
    <%= form.label :class_type, style: "display: block" %>
    <select id="formselect" class="form-select", :value => @class_type>
        <option>Handbuilding</option>
        <option>Wheel</option>
      </select>
  </div>

  <div>
    <%= form.label :user_name, style: "display: block" %>
    <%= form.text_field :user_name, autocomplete: "user_name", class:'form-control' %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id, class:'form-control', :value => params[:user_id] %>
  </div>

  <div>
    
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 Book Class
<% end %>
  </div>
<% end %>
