<div id="<%= dom_id pot %>">
 
  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>Lesson</th>
      <th>Class Type</th>
      <th>User Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
   <tbody>

 <tr>
          <td><%= pot.lesson %></td>
          <td><%= pot.class_type %></td>
          
          <td><%= pot.user_name %></td>


          <td><center><%= link_to 'Edit booking', edit_pot_path(pot) %></center></td>
          <td><center><%= link_to 'Cancel Class', pot, method: :delete, data: { confirm: 'Are you sure you want to cancel?' } %></center></td>
        </tr>
      </tbody>
    </table>

</div>




<%= link_to "Back to my Classes", home_about_path, class: 'btn btn-secondary' %>