<p style="color: green"><%= notice %></p>

<%= render @pot %>

<div>
  <%= link_to "Edit this pot", edit_pot_path(@pot) %> |
  <%= link_to "Back to pots", pots_path %>

  <%= button_to "Destroy this pot", @pot, method: :delete %>
</div>
