<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_include_tag  "turbo" ,type: "module" %>
<h1>My Booked Classes</h1>

  <table class="table  table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>Lesson</th>
      <th>Class Type</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>
   <tbody>

   <% @pots.each do |pot| %>
      <% if pot.user_id == current_user.id %>
        <tr>
          <td><%= pot.lesson %></td>
          <td><%= pot.class_type %></td>
          <td><%= current_user.email %></td>
          <td><center><%= link_to 'Edit this booking', edit_pot_path(pot) %></center></td>
          <td><center><%= link_to 'Cancel Class', pot, data: { turbo: true, turbo_method: :delete }, class: 'btn btn-danger'%></center></td>
        </tr>
        <% end %>
     <% end %>
    </tbody>
    </table>
<%= link_to "Book Another Class", pots_path, class: 'btn btn-secondary' %>

<br/><br/><br/>
<%= link_to 'Delete All Classes', home_trash_em_all_path, class: 'btn btn-danger', data: {confirm: 'Are you sure? '} %>
</div>




